body{
    margin: 0;
    background:#110a14;
    height: 100vh;
    /* display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family:  Helvetica, sans-serif;
padding: 2rem; */
}











.card1{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    /* overflow: hidden; */
    position: relative;

    border:8px solid white ;
}

.card-image{

    width: 100%;
    height: 100%;
    object-fit: cover;
border-radius: 15px;
} 



.card-body{
   width: 30%;
   height: 20%;
   top: 30PX;
   right: 10px;
   position: absolute;
   background: #4391e565;             /*#0000003a */
   backdrop-filter:blur(5px);
   /* border-radius: 15px; */
   color: white;
   padding: 38px;
display: flex;
flex-direction: column;
/* justify-content: center; */
transition: .5s ease-out;
-webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
clip-path: polygon(20% 0%, 70% 0%, 100% 0%, 120% 70%, 80% 100%, 0% 100%, 0% 70%, 0% 20%);
}


.card-body1{
    width: 30%;
    height: 20%;
    bottom: 30PX;
    left: 10px;
    position: absolute;
    background: #0000003a;             /*#0000003a */
    backdrop-filter:blur(5px);
    /* border-radius: 15px; */
    color: white;
    padding: 38px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 transition: .5s ease-out;
 -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
 clip-path: polygon(20% 0%, 70% 0%, 100% 0%, 120% 70%, 80% 100%, 0% 100%, 0% 70%, 0% 20%);
 }

 

.card1:hover .card-body{
    /* left: 0; */
}

.card1:hover .card-body1{
    right: 0;
}

/* .card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;

}

.card-sub-title{
text-transform: capitalize;
font-size: 14px;
font-weight: 300;
}

.card-info{
    font-size: 16px;
    line-height: 25px;
    margin:40px  0;
    font-weight: 400;
}

.card-btn{
color:#1f3d47;
background: #8fabba;
padding: 10px 20px;
width: 120px;
border-radius: 5px;
text-transform: capitalize;
border: none;
outline: none;
font-weight: 500;
cursor: pointer; 
} */


.text-animation {
    font-size: 20px;
    font-weight: bold;
    /* display: inline-block; */
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    
}


.card1:hover .word {
    display: inline-block;
    opacity: 0;
    transform: translateX(-10px);
    animation: word-animation 2s forwards;
}

.card1:hover  .char {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    animation: char-animation 4s forwards;
}









/* .card-shape{
   width: 100%;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(30% 0%, 70% 0%, 100% 0%, 100% 70%, 70% 100%, 0% 100%, 0% 70%, 0% 30%);
    background: red;

} */

@keyframes word-animation {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes char-animation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}