*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{


    width: 100%;
    height: 100vh;
    background-color: #36768c;
    font-family:sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    border:8px solid white ;
}

.card-image{

    width: 100%;
    height: 100%;
    object-fit: cover;
border-radius: 15px;
} 



.card-body{
   width: 100%;
   height: 50%;
   top: 0;
   left: 100%;
   position: absolute;
   background:#0000003a ;  
   backdrop-filter:blur(5px);
   border-radius: 15px;
   color: white;
   padding: 38px;
display: flex;
flex-direction: column;
justify-content: center;
transition: .5s ease-out;
}

.card-body1{
    width: 100%;
    height: 50%;

    right: 100%;
    bottom: 0;
    position: absolute;
    background:#0000003a ;  
    backdrop-filter:blur(5px);
    border-radius: 15px;
    color: white;
    padding: 38px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 transition: .5s ease-out;
 }

.card:hover .card-body{
    left: 0;
}

.card:hover .card-body1{
    right: 0;
}

.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;

}

.card-sub-title{
text-transform: capitalize;
font-size: 14px;
font-weight: 300;
}

.card-info{
    font-size: 16px;
    line-height: 25px;
    margin:40px  0;
    font-weight: 400;
}

.card-btn{
color:#1f3d47;
background: #8fabba;
padding: 10px 20px;
width: 120px;
border-radius: 5px;
text-transform: capitalize;
border: none;
outline: none;
font-weight: 500;
cursor: pointer; 
}


.text-animation {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}


.card:hover .word {
    display: inline-block;
    opacity: 0;
    transform: translateX(-10px);
    animation: word-animation 2s forwards;
}

.card:hover  .char {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    animation: char-animation 4s forwards;
}



@keyframes word-animation {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes char-animation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}